{* -*- html -*- *}
      </div>

      <div id="footer">
        <a href="{$config->getKey('cms/url')}" title="Powered by {$config->getKey('cms/name')} {$config->getKey('cms/version')}">{$config->getKey('cms/name')} {$config->getKey('cms/version')}</a> &bull;
        <a href="http://validator.w3.org/check/referer" title="Check the validity of this site's HTML">HTML</a> &bull;
        <a href="http://jigsaw.w3.org/css-validator/check/referer" title="Check the validity of this site's CSS">CSS</a> &bull;
        <a style="font-family: Times New Roman, serif; font-size: 1.25em;" href="/admin" title="&pi;">&pi;</a>
      </div>
    </div>
  </body>
</html>
